[submodule "git/dotfiles"]
	path = git/dotfiles
	url = git://github.com/tyru/dotfiles.git
[submodule "git/bfi.py"]
	path = git/bfi.py
	url = git://github.com/tyru/bfi.py.git
[submodule "git/forth-interp"]
	path = git/forth-interp
	url = git://github.com/tyru/forth-interp.git
[submodule "git/dentaku"]
	path = git/dentaku
	url = git://github.com/tyru/dentaku.git
[submodule "git/tyru.github.com"]
	path = git/tyru.github.com
	url = git://github.com/tyru/tyru.github.com.git
[submodule "git/watchman"]
	path = git/watchman
	url = git://github.com/tyru/watchman.git
[submodule "git/vice-sandbox"]
	path = git/vice-sandbox
	url = git://github.com/tyru/vice-sandbox.git
[submodule "git/libdatastruct"]
	path = git/libdatastruct
	url = git://github.com/tyru/libdatastruct.git
[submodule "git/iex"]
	path = git/iex
	url = git://github.com/tyru/iex.git
[submodule "git/hatenadiary-writer"]
	path = git/hatenadiary-writer
	url = git://github.com/tyru/hatenadiary-writer.git
[submodule "git/hatenadiary-writer-wrapper"]
	path = git/hatenadiary-writer-wrapper
	url = git://github.com/tyru/hatenadiary-writer-wrapper.git
[submodule "git/bookman"]
	path = git/bookman
	url = git://gist.github.com/769264.git
[submodule "git/weavel"]
	path = git/weavel
	url = git://gist.github.com/790407.git
[submodule "git/com.appspot"]
	path = git/com.appspot
	url = git://github.com/tyru/com.appspot.git
[submodule "git/p5-Acme-FizzBuzz-Descriptive"]
	path = git/p5-Acme-FizzBuzz-Descriptive
	url = git://github.com/tyru/p5-Acme-FizzBuzz-Descriptive.git
[submodule "git/p5-Data-Validator"]
	path = git/p5-Data-Validator
	url = git://github.com/gfx/p5-Data-Validator.git
[submodule "git/p5-Getopt-SubCommand"]
	path = git/p5-Getopt-SubCommand
	url = git://github.com/tyru/p5-Getopt-SubCommand.git
[submodule "git/jolt"]
	path = git/jolt
	url = git://github.com/vimjolts/jolt.git
[submodule "git/joltserver"]
	path = git/joltserver
	url = git://github.com/vimjolts/joltserver.git
[submodule "git/gittools"]
	path = git/gittools
	url = git://github.com/tyru/gittools.git
[submodule "git/gyazo-linux"]
	path = git/gyazo-linux
	url = git://github.com/tyru/gyazo-linux.git
[submodule "git/gnome-utils"]
	path = git/gnome-utils
	url = git://github.com/tyru/gnome-utils.git
[submodule "git/setupenv"]
	path = git/setupenv
	url = git://github.com/tyru/setupenv.git
[submodule "git/setup-scripts"]
	path = git/setup-scripts
	url = git://github.com/tyru/setup-scripts.git
[submodule "git/vim"]
	path = git/vim
	url = git://github.com/tyru/vim.git
[submodule "git/nanotap"]
	path = git/nanotap
	url = git://github.com/tyru/nanotap.git
[submodule "git/git-hg"]
	path = git/git-hg
	url = git://github.com/offbytwo/git-hg.git
[submodule "git/libcallex-vim"]
	path = git/libcallex-vim
	url = git://github.com/mattn/libcallex-vim.git
[submodule "git/unite-mark"]
	path = git/unite-mark
	url = git://github.com/tyru/unite-mark.git
[submodule "git/vim-funlib"]
	path = git/vim-funlib
	url = git://github.com/ynkdir/vim-funlib.git
[submodule "git/vim-poslist"]
	path = git/vim-poslist
	url = git://github.com/thinca/vim-poslist.git
[submodule "git/termtter"]
	path = git/termtter
	url = git://github.com/jugyo/termtter.git
[submodule "git/skkdict.vim"]
	path = git/skkdict.vim
	url = git://github.com/tyru/skkdict.vim.git
[submodule "git/App-gh"]
	path = git/App-gh
	url = git://github.com/c9s/App-gh.git
[submodule "git/tpope-vim-surround"]
	path = git/tpope-vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "git/cmdwincomplete.vim"]
	path = git/cmdwincomplete.vim
	url = git://github.com/tyru/cmdwincomplete.vim.git
[submodule "git/cppref"]
	path = git/cppref
	url = git://github.com/kazuho/cppref.git
[submodule "git/screen-session"]
	path = git/screen-session
	url = git://github.com/skoneka/screen-session.git
[submodule "git/backup-scripts"]
	path = git/backup-scripts
	url = git://github.com/tyru/backup-scripts.git
[submodule "git/traverse-timestamps"]
	path = git/traverse-timestamps
	url = git://github.com/tyru/traverse-timestamps.git
[submodule "git/termtter-plugins"]
	path = git/termtter-plugins
	url = git://github.com/ktgy/termtter-plugins.git
[submodule "git/vimtlib"]
	path = git/vimtlib
	url = git://github.com/tomtom/vimtlib.git
[submodule "git/cpan-outdated"]
	path = git/cpan-outdated
	url = git://github.com/tokuhirom/cpan-outdated.git
[submodule "git/cpanminus"]
	path = git/cpanminus
	url = git://github.com/miyagawa/cpanminus.git
[submodule "git/Vimana"]
	path = git/Vimana
	url = git://github.com/c9s/Vimana.git
[submodule "git/Viyond"]
	path = git/Viyond
	url = git://github.com/zentooo/Viyond.git
[submodule "git/WWW-Pixiv"]
	path = git/WWW-Pixiv
	url = git://github.com/kuzuha/WWW-Pixiv.git
[submodule "git/ack"]
	path = git/ack
	url = git://github.com/petdance/ack.git
[submodule "git/kana-config"]
	path = git/kana-config
	url = git://github.com/kana/config.git
[submodule "git/screen"]
	path = git/screen
	url = git://git.sv.gnu.org/screen.git
[submodule "git/git"]
	path = git/git
	url = git://git.kernel.org/pub/scm/git/git.git
[submodule "git/zsh"]
	path = git/zsh
	url = git://zsh.git.sf.net/gitroot/zsh/zsh
[submodule "git/App-perlbrew"]
	path = git/App-perlbrew
	url = git://github.com/gugod/App-perlbrew.git
[submodule "git/mdv"]
	path = git/mdv
	url = git://github.com/ujihisa/mdv.git
[submodule "git/gitignore"]
	path = git/gitignore
	url = git://github.com/github/gitignore.git
[submodule "git/emacs"]
	path = git/emacs
	url = git://git.savannah.gnu.org/emacs.git
[submodule "git/gcc"]
	path = git/gcc
	url = git://gcc.gnu.org/git/gcc.git
[submodule "git/forth-interp2"]
	path = git/forth-interp2
	url = git://github.com/tyru/forth-interp2.git
[submodule "git/thrift"]
	path = git/thrift
	url = git://git.apache.org/thrift.git
[submodule "git/jsref"]
	path = git/jsref
	url = git://github.com/walf443/jsref.git
[submodule "git/lingr.wiki"]
	path = git/lingr.wiki
	url = git://github.com/lingr/lingr.wiki.git
[submodule "git/vital.vim"]
	path = git/vital.vim
	url = git://github.com/ujihisa/vital.vim.git
[submodule "git/macvim"]
	path = git/macvim
	url = git://github.com/b4winckler/macvim.git
[submodule "git/fastpack"]
	path = git/fastpack
	url = git://gist.github.com/877557.git
[submodule "git/vim-alignta"]
	path = git/vim-alignta
	url = git://github.com/h1mesuke/vim-alignta.git
[submodule "git/vim-oop"]
	path = git/vim-oop
	url = git://github.com/h1mesuke/vim-oop.git
[submodule "git/vim-unittest"]
	path = git/vim-unittest
	url = git://github.com/h1mesuke/vim-unittest.git
[submodule "git/earthquake"]
	path = git/earthquake
	url = git://github.com/jugyo/earthquake.git
[submodule "git/xulmigemo"]
	path = git/xulmigemo
	url = git://github.com/piroor/xulmigemo.git
[submodule "git/llvm"]
	path = git/llvm
	url = http://llvm.org/git/llvm.git
[submodule "git/clang"]
	path = git/clang
	url = http://llvm.org/git/clang.git
[submodule "git/dlnico.pl"]
	path = git/dlnico.pl
	url = git://github.com/tyru/dlnico.pl.git
